.overlay {
  position: absolute;
  width: 720px;
  height: 480px;
  z-index: 2;
  display: none;
}

.background {
  background-image: url("../img/3. Background/Legacy/Dark/2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.startScreen {
  gap: 15px;
  display: flex;
  display: none;
}

.controls {
  backdrop-filter: brightness(0.5);
  display: none;
}

.endScreen {
  font-size: 3rem;
  gap: 15px;
  display: none;
}

.active {
  display: flex;
}

.head-line {
  position: absolute;
  top: 5px;
  right: 5px;
}

.head-line > button {
  width: auto;
  height: auto;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0px;
  display: flex;
}

.head-line > button > img {
  height: 100%;
  width: 100%;
}
